cvzone==1.5.6
numpy==1.23.5
opencv_contrib_python==4.8.0.74
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
Pillow==9.5.0
streamlit==1.24.0
typing-extensions<5,>=4.0.1
python-dateutil<3,>=2
click<9,>=7.0
importlib-metadata<7,>=1.4
protobuf<5,>=3.20
altair<6,>=4.0
pydeck<1,>=0.1.dev5
packaging<24,>=14.1
cachetools<6,>=4.0
toml<2
tzlocal<5,>=1.1
pyarrow>=4.0
pandas<3,>=0.25
requests<3,>=2.4
validators<1,>=0.2
watchdog
tornado<7,>=6.0.3
tenacity<9,>=8.0.0
blinker<2,>=1.0.0
pympler<2,>=0.9
gitpython!=3.1.19,<4,>=3
rich<14,>=10.11.0
toolz
jinja2
jsonschema>=3.0
gitdb<5,>=4.0.1
zipp>=0.5
tzdata>=2022.1
pytz>=2020.1
six>=1.5
charset-normalizer<4,>=2
certifi>=2017.4.17
idna<4,>=2.5
urllib3<3,>=1.21.1
pygments<3.0.0,>=2.13.0
markdown-it-py>=2.2.0
pytz-deprecation-shim
decorator>=3.4.0
smmap<6,>=3.0.1
MarkupSafe>=2.0
referencing>=0.28.4
attrs>=22.2.0
rpds-py>=0.7.1
jsonschema-specifications>=2023.03.6
mdurl~=0.1
